.container {
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  width: 80%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.title {
  font-size: 23px;
  font-weight: 500;
  color: #3f51b5;
}
table {
  width: 100%;
  margin-top: 20px;
}
.spacer {
  flex: 1 1 auto;
}
